
@{ 
    ViewBag.Title = "Inicio";    
}



<br /><br />


<div>

    @Html.ActionLink("TEste", "Teste") <br/>
    <input type="submit" id="Excel" value="Gerar Excel"/> 
</div>

<div id="local"></div>

<script>    
        $('#Excel').click(function () {
            $.get("@Url.Action("GerarExcel", "Home")", null, function (data) {
                console.log(data);
                $('#local').successMessage("O download iniciará em instantes...", 5000);
            });
        })    
</script>

   

