
@{
    ViewBag.Title = "Logoff";
}

<br />
<h2>Deseja realmente sair?</h2>
<br />
<br />

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" name ="Sair" value="Sair" class="btn btn-default" />
    </div>
</div>
    
<div>
    @Html.ActionLink("Cancelar", "Index")
</div>

