@model Concessionaria.Dominio.Opcional

@{ Layout = null; }

<h2>Detalhes do Opcional</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID Opcional:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opcid)
        </dd>
        <br />
        <dt>
            Descrição:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opcdescr)
        </dd>

    </dl>
</div>
<p>
    <a href="#" onclick="OpcionalJs.novaEdicao(@Model.Opcid)">Editar</a> |
    <a href="#" onclick="OpcionalJs.voltarInicio()">Voltar</a>
</p>
