@model Concessionaria.Dominio.Opcional
@{ Layout = null; }

<h2>Excluir Opcional</h2>

<div>
    <h4>Tem certeza que deseja excluir este Opcional e todos seus vínculos com carros?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID Opcional:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opcid)
        </dd>
        <br />
        <dt>
            Descrição:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opcdescr)
        </dd>

    </dl>

    <div>
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Excluir" class="btn btn-default" id="submit" onclick="OpcionalJs.excluir(@Model.Opcid);" />
                <div id="Msgopcional"></div>
            </div>
        </div>
    </div>
    <div>
        <a href="#" onclick="OpcionalJs.voltarInicio()">Voltar</a>
    </div>
</div>
